# Reusable workflow for ESLint linting
#
# SPDX-FileCopyrightText: Chen Asraf <contact@casraf.dev>
# SPDX-License-Identifier: AGPL-3.0-or-later

name: Lint eslint

on:
  workflow_call:
    inputs:
      lint-command:
        description: 'Command to run lint'
        required: false
        type: string
        default: 'pnpm lint'
      path-filters:
        description: 'Paths to filter on (YAML format)'
        required: false
        type: string
        default: |
          - '.github/workflows/**'
          - 'src/**'
          - '*.ts'
          - '*.js'
          - '*.json'
          - '*.yaml'
          - 'pnpm-lock.yaml'

permissions:
  contents: read

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    outputs:
      src: ${{ steps.changes.outputs.src }}

    steps:
      - uses: dorny/paths-filter@v3
        id: changes
        continue-on-error: true
        with:
          filters: |
            src:
              ${{ inputs.path-filters }}

  lint:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.src != 'false'

    name: NPM lint

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        env:
          CYPRESS_INSTALL_BINARY: 0
          PUPPETEER_SKIP_DOWNLOAD: true
        run: |
          npm i -g pnpm
          pnpm i --frozen-lockfile

      - name: Lint
        run: ${{ inputs.lint-command }}

  summary:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [changes, lint]

    if: always()

    name: eslint

    steps:
      - name: Summary status
        run: if ${{ needs.changes.outputs.src != 'false' && needs.lint.result != 'success' }}; then exit 1; fi
